.getProposal {
    border-radius: 30px;
    background-color: #f3f3f3;
    display: flex;

    @media only screen and (max-width: 800px) {
        height: 300px;
    }

    @media only screen and (min-width: 801px) {
        height: 350px;
    }

    @media only screen and (min-width: 901px) {
        height: 450px;
    }

    @media only screen and (min-width: 1145px) {
        height: 350px;
    }
}


.proposalText {
    width: 50%;
    height: 100%;
    position: relative;

    @media only screen and (max-width: 900px) {
        width: 100%;
    }
}

.proposalText div {
    margin-left: 10%;
}

.propTitle {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0px;
}

.propDescription {
    width: 100%;
    height: fit-content;
    position: absolute;

    @media only screen and (max-width: 900px) {
        width: 80%;
        text-align: justify;
        top: 80px
    }

    @media only screen and (min-width: 901px) {
        top: 120px
    }

    @media only screen and (min-width: 1145px) {
        top: 80px
    }
}

.proposalButton {
    position: absolute;
    bottom: 30px;
}

.proposalImage {
    width: auto;
    height: 110%;
    margin-top: -20px;
    margin-left: 15%;
    align-items: center;
    align-content: center;
    display: block;

    @media only screen and (max-width: 900px) {
        display: none;
    }   
}
